<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.3.0-preview1-24530-04" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net452" />
  <package id="NodaMoney" version="1.0.0" targetFramework="net452" />
  <package id="NodaMoney.Serialization.AspNet" version="1.0.0" targetFramework="net452" />
</packages>